<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="/assets/images/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <div id="nav-links">
        <% if (user) { %>
          <a href="/users/<%= user._id %>"><img src="<%= user.avatar %>" alt="user-img" id="user-img"></a>
          <div class="nav-links">
            <a href="/">HOME</a>
            <a href="/recipes">BROWSE</a>
            <a href="/recipes/new">ADD RECIPE</a>
          </div>
          <div class="nav-links" id="bottom">
            <a href="/logout">log out</a>
          </div>
          <% } else { %>
            <img src="/assets/images/logo.svg" alt="logo" id="nav-logo">
            <div class="nav-links">
              <a href="/">Home</a>
              <a href="/recipes">Browse Recipes</a>
              <a href="/auth/google" class="login">log in&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
            </div>
            <% } %>
      </div>
    </nav>

    <script>
      document.querySelectorAll('.nav-links a').forEach(link => {
        if(link.href === window.location.href) {
          link.classList.add('active');
        }
      });
    </script>