<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <div id="nav-links">
        <% if (user) { %>
          <img src="<%= user.avatar %>" alt="logo" id="nav-logo">
          <div class="nav-links">
            <a href="/">Home</a>
            <a href="/recipes">Browse Recipes</a>
            <a href="/recipes/new">Add Recipe</a>
            <a href="/logout">log out</a>
          </div>
          <% } else { %>
            <img src="/assets/images/logo.svg" alt="logo" id="nav-logo">
            <div class="nav-links">
              <a href="/">Home</a>
              <a href="/recipes">Browse Recipes</a>
              <a href="/auth/google" class="login">log in&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
            </div>
            <% } %>
      </div>
    </nav>