<%- include('./partials/header') %>

<div class="main">
    <section>
        <div class="container">
            <div class="main-div">
                <h1>Pour Over Express</h1>
                <p>
                    Welcome to P/E, a logbook for pour-over enthusiasts. 
                    This project was born out of my love for coffee and my desire to continually improve my process.
                    <a href="/auth/google">Log in</a> with Google to get started. From there you can browse the public board, or create your own recipes (be sure to make them public if you want others to see them).
                    Happy pouring!
                </p>
                <p>
                   View the <a href="https://github.com/connorbyram/pour-over-express" target="_blank">GitHub</a> project to get more specifics on the project. 
                   Please send any feedback and suggestions to <a href="mailto: connorabyram@gmail.com" target="_blank">connorabyram@gmail.com</a>.
                </p>
                <br>
                <h3>Latest Updates (2.28.23):</h3>
                <ul>
                    <li>Recipe Branching</li>
                    <li>User Profiles</li>
                    <li>Private Recipes</li>
                </ul>

                <h3>Coming soon:</h3>
                    <ul>
                        <li>Mobile Optimization</li>
                        <li>Recipe Bookmarking</li>
                        <li>Sorting/Filtering</li>
                        <li>Integrated Timer</li>
                    </ul>

            </div>
        </div>
    </section>
</div>


<%- include('./partials/footer') %>