<%- include('./partials/header') %>

<div class="main">
    <section>
        <div class="container">
            <div class="main-div">
                <h1>Pour Over Express</h1>

            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="main-div">
                <h1>Pour Over Express</h1>
                <p>
                    Welcome to P/E, a logbook for pour-over enthusiasts. 
                    This project was born out of my love for coffee and my desire to continually improve my process.
                    <a href="/auth/google">Log in</a> with Google to get started. From there you can browse the public board, or create your own recipes (be sure to make them public if you want other to see them).
                    User profiles will be available very soon, where you can view ALL of your own recipes and favorited recipes. 
                    Happy pouring. Please send any feedback and suggestions to <a href="mailto: connorabyram@gmail.com" target="_blank">connorabyram@gmail.com</a>.
                </p>
                <br>
                <p>
                   View the <a href="https://github.com/connorbyram/pour-over-express" target="_blank">GitHub</a> project to get more specifics on th project, including the README, which outlines some cool icebox features. 
                </p>

            </div>
        </div>
    </section>
</div>


<%- include('./partials/footer') %>