<%- include('../partials/header') %>

<div class="main">
    <section>
        <div class="container">
            <h1>Create a Recipe</h1>
        </div>
    </section>
</div>


<%- include('../partials/footer') %>